/*--- toogle switch button ---*/
form > .setting-row input {
    display: none;
}

.setting-row input + label {
    background-color: #bbbbbb;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    height: 20px;
    line-height: 1;
    padding: 0.16667rem;
    position: relative;
    text-align: center;
    transition: all 0.1s ease-in-out 0s;
    width: 52px;
}

.setting-row input + label::before {
    color: #b7b7b7;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 13px;
    margin: 0.21667rem;
    min-width: 20px;
    overflow: hidden;
    position: absolute;
    right: 0.21667rem;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    transition: all 0.1s ease-in-out 0s;
}

.setting-row input + label::after {
    background-color: #f7f7f7;
    border-radius: 0px;
    box-shadow: none;
    content: "";
    height: 14px;
    left: 0.267rem;
    top: 3px;
    position: absolute;
    transition: all 0.1s ease-in-out 0s;
    width: 14px;
}


/*input[switch]:checked + label {
    background-color: #33b7a0;
}*/

.setting-row input:checked + label::before {
    color: #fff;
    content: attr(data-on-label);
    left: 0.21667rem;
    right: auto;
}

.setting-row input:checked + label::after {
    background-color: #f7f7f7;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
    left: 2.16667rem;
}


/*input[switch="bool"] + label {
    background-color: #ed6b75;
}*/

.setting-row input + label::before {
    color: #fff;
}

.setting-row {
    border-bottom: 1px solid #e1e8ed;
    display: inline-block;
    margin-bottom: 7px;
    padding-bottom: 7px;
    text-align: center;
    width: 100%;
}

.setting-row > span,
.setting-row > label {
    display: inline-block;
    vertical-align: text-top;
}

.setting-row > span {
    font-size: 13px;
    line-height: initial;
    text-align: left;
    text-transform: capitalize;
    width: 76%;
}

.setting-row > label {
    margin-bottom: 0;
}

.setting-row > p {
    color: #888;
    line-height: 1.8;
    font-size: 15px;
}
