.chat-box {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 3px;
    bottom: -2px;
    position: absolute;
    right: 100%;
    width: 300px;
    z-index: 9999999;
    transform: translate(40px) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear 0s;
    border: 1px solid #e1e8ed;
    text-align: left;
}

.chat-box.show {
    transform: translate(0) scale(1);
    opacity: 1;
    visibility: visible;
}

.chat-head {
    color: #fff;
    display: inline-block;
    padding: 10px 20px 10px 30px;
    position: relative;
    width: 100%;
}

.chat-list>ul>li {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.chat-head>h6 {
    display: inline-block;
    font-weight: bold;
    margin: 0;
    vertical-align: top;
}

.chat-head .more {
    float: right;
}

.more>span {
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}

.chat-head span.status {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}