.post-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    position: relative;
    width: 100%;
}

.post-comt-box {
    display: inline-block;
    background-color: transparent;
    position: relative;
    width: 100%;
}

.comet-avatar {
    display: table-cell;
    max-width: 8%;
    vertical-align: top;
    width: 8%;
}

/* .post-comment .comet-avatar {
    display: inline-block;
    max-width: 6%;
    vertical-align: top;
    width: 6%;
} */

.comment_input {
    display: flex;
    align-items: center;
}

.comment_input input {
    background: var(--main-bg-color);
    /* background: #f3f3f3 none repeat scroll 0 0; */
    border-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    overflow: auto;
    border-radius: 3px;
    color: var(--main-color);
    font-size: 13.5px;
    font-weight: 500;
    height: 40px;
    line-height: 16px;
}

.comment_input .postBtn {
    border: none;
    outline: none;
    /* background: #f7f7f7;
    color: blue; */
    font-weight: 600;
    bottom: 2px;
    position: absolute;
    right: 0;
    background: none;
}

.comment_input .dropdown-menu {
    transform: translate3d(-120px, -200px, 0px) !important;
}

/* ---------- Comments ---------- */
.comment_display {
    padding: 10px 25px;
}

.comment_card .comment_content {
    background: #eee;
    padding: 7px;
    border-radius: 10px;
    border-top-left-radius: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_card.reply{
    margin-left: 10px;
    padding-left: 0;
}

/* .comment_card .comment_content ::before,
.peoples-mesg-box > ul > li p:before {
    border-bottom: 10px solid transparent;
    border-right: 11px solid #ede9e9;
    border-top: 10px solid transparent;
    left: -11px;
    top: 10px;
    position: absolute;
    content: '';
}

.comment_card .comment_content::after ,
.peoples-mesg-box > ul > li p:after {
    border-bottom: 8px solid transparent;
    border-right: 9px solid #fff;
    border-top: 8px solid transparent;
    left: -9px;
    top: 12px;
    position: absolute;
    content: '';
} */

.comment_card .comment_content .readMore {
    cursor: pointer;
    color: crimson;
}

.comment_card .comment_content .nav-item {
    cursor: pointer;
    opacity: 0;
}

.comment_card .comment_content:hover .nav-item {
    opacity: 1;
}

.comment_card .comment_content .dropdown-menu {
    position: absolute;
    right: 0;
    left: inherit;
}

.comment_card .comment_content .dropdown-item {
    display: flex;
    margin: 10px 0;
}

.comment_card .comment_content textarea {
    width: 100%;
    border: none;
    outline: none;
}

/* .comments{
    position: relative;
    max-height: 300px;
    overflow-y: auto;
} */

.comments .next-text{
    cursor: pointer;
    color: #088dcd;
    text-transform: capitalize;
    font-size: 12px;
}

/* .comments .next-text::after {
	content: '';
	background-color: #088dcd;
	position: absolute;
	bottom: -10px;
	left: 0;
	opacity: 0;
	height: 2px;
	width: 100%;
	transition: transform 0.3s ease-in-out;
}

.comments .next-text:hover::after {
	opacity: 1;
	transform: translateY(-15px);
} */