/*--- photos page ---*/

.photos {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.photos>li {
    display: inline-block;
    min-width: 32.3%;
    width: 32.3%;
    margin: 0 2.3px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.photos>li:hover a img {
    transform: scale(1.01);
}

.photos>li a {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.photos>li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.strip {
    display: inline-block;
    position: relative;
}