.message {
    width: 100%;
    height: calc(100vh - 100px);
    border: 1px solid #ddd;
    margin-top: 15px;
    border-radius: 3px;
    background: #fbfbfb;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, .1), 0 32px 64px -48px rgba(0, 0, 0, .5);
}

.message_header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f8f8;
}

.message_header input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background: #f8f8f8;
    padding: 0 5px;
    border-radius: 20px;
}

.message_back {
    display: none;
}

.message_chat_list {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
}

.message_chat_list .message_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #f3f3f3;
    color: #555;
    cursor: pointer;
}

.message_chat_list .message_user.active {
    background: #eee;
}

.message_chat_list .message_user a {
    color: #555;
}

.message_chat_list .message_user a:hover {
    text-decoration: none;
}

.message_chat_list .message_user .fa-circle {
    font-size: 8px;
    color: #aaa;
}

.message_chat_list .message_user .fa-circle.active {
    color: forestgreen;
}

/* -------- Chat Input----- */
.chat_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border-top: 1px solid #ddd;
}

.chat_input input {
    width: 100%;
    height: 49px;
    border: none;
    outline: none;
}

.chat_input button {
    border: none;
    outline: none;
    background: white;
}

.chat_input .file_upload {
    position: relative;
    overflow: hidden;
    margin: 0 10px;
}

.chat_input .file_upload #file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.show_media {
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    place-items: center;
    grid-gap: 10px;
    background: #f3f3f3;
    border-radius: 5px;
    padding: 0 5px;
}

.show_media #file_media {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
}

.show_media #file_media img,
.show_media #file_media video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.show_media #file_media span {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    background: white;
    border: 1px solid crimson;
    padding: 3px 7px;
    color: crimson;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

/* -------- Chat Container ----- */
/* -------- Chat Container ----- */
.chat_container {
    /* display: flex;
    position: relative; */
    width: 100%;
    height: calc(100% - 110px);
    overflow-y: auto;
    padding: 0 10px;
    background-color: #f7f7f7;
}

.chat_display {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*======== Chat row ==========*/

.chat_row {
    display: flex;
    /* display: grid;
    grid-template-columns: 70%; */
    margin-bottom: 10px;
    align-items: center;
}

.chat_row .you_message,
.chat_row .other_message {
    display: flex;
}

.you_message {
    /* justify-content: end; */
    justify-items: end;
    display: flex;
    flex-direction: row-reverse;
}

.you_message .chat_content p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.other_message {
    justify-content: start;
    justify-items: start;
}

.other_message .chat_content p {
    background: #dfdede;
    color: #333;
    border-radius: 18px 18px 18px 0;
}

.chat_content .chat_text {
    /* padding: 9px 14px; */
    /* margin-bottom: 5px; */
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
        0rem 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat_time {
    font-size: 13px;
    color: #777;
}

/* .you_message .chat_text {
    background: #0048AA;
    color: white;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px;
}

.other_message .chat_text {
    background: white;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
} */

.chat_title {
    margin-bottom: 3px;
}

.chat_title img {
    height: 35px;
    width: 35px;
}

.chat_content {
    position: relative;
}

.chat_content .fa-trash {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
}

.chat_content .fa-edit {
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
}

.chat_content:hover .fa-trash,
.chat_content:hover .fa-edit {
    opacity: 1;
}

.chat_input .dropdown-menu {
    transform: translate3d(-110px, -200px, 0px) !important;
}
/* -------- message sidebar----- */
.message_sidebar {
    width: 60%;
    opacity: 0;
    display: none;
    height: calc(100% - 110px);
    /* min-height: 100%; */
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4px 1px;
    background: var(--main-bg-color);
    color: var(--main-color);
    overflow-y: auto;
    border-radius: 0 3px 3px 1px;
    z-index: 0;
    /* transition: opacity .3s ease-in, transform .3s; */
    transition: all .3s;
}

.message_sidebar.show {
    opacity: 1;
    display: block;
}

.chat_user_link {
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
}

.chat_user_link i {
    font-size: 1.5rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.chat_user_link div {
    min-width: 62px;
    height: 62px;
    position: relative;
    overflow-y: auto;
}

.chat_user_link:hover {
    background: var(--second-bg-color);
    text-decoration: none;
    cursor: pointer;
    color: var(--second-color);
}