.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 90%;
    /* background: var(--main-bg-color); */
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: unset;
    border-radius: 10px;
    border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
    display: flex;
}

.notification-menu {
    min-width: 380px;
}

.reactions {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    text-align: center;
    cursor: pointer;
}

.reactions span {
    margin: 3px 0;
}

.btn-view.btn-load-more:hover {
    background: #088dcd;
}

.btn-view.btn-load-more {
    background: #fff;
    border: medium none;
    border-radius: 100%;
    color: transparent;
    display: block;
    height: 50px;
    margin: 30px auto 0;
    position: relative;
    width: 50px;
    transition: all 0.2s linear 0s;
    z-index: 77;
}

.central-meta button.btn-view {
    background: #f1f1f1;
}

.btn-view.btn-load-more::before {
    color: #333;
    content: "\f01e";
    font-family: fontawesome;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    z-index: 111;
    transition: all 0.2s linear 0s;
}

.btn-view.btn-load-more:hover::before {
    color: #fff;
    transform: translate(-50%, -50%) rotate(360deg);
}

.static,
.static>div {
    position: static !important;
}

.searchDir {
    padding: 0 15px;
    margin: 0 auto;
}

.searchDir .search_form {
    position: relative;
    margin: auto;
    width: 100%;
}

.searchDir .filterinput {
    border: 1px solid #eaeaea;
    color: #575757;
    font-size: 14px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
}

.searchDir .search_form .search_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    pointer-events: none;
}

.searchDir .search_form .search_icon i {
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    color: var(--second-color);
    cursor: pointer;
}

.searchDir .search_form .close_search {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    color: crimson;
}

.searchDir .search_form .users {
    position: absolute;
    width: 100%;
    min-width: 250px;
    background: #fafafa;
    z-index: 1;
    max-height: calc(100vh - 150px);
    overflow: auto;
    margin-top: 3px;
}

.searchDir .search_form .loading {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

.tag {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    padding: 0 6px;
    position: absolute;
    right: 5px;
    top: 0;
    transform: translateY(0, 0);
}

.blue {
    background: #337ab7;
}

.red {
    background: #ed6b75;
}

.green {
    background: #33b7a0;
}

#topcontrol {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    transform: rotate(-15deg);
    transition: all 0.2s linear 0s;
    width: 40px;
    z-index: 99;
    background: #088dcd;
}

#topcontrol:hover {
    transform: rotate(0);
}

/* Custom styles for the modal container */
.modal {
    display: flex;
    align-items: stretch;
    /* Stretch modal to match browser height */
    justify-content: flex-end;
    /* Align modal to the right */
}

.modal-body {
    min-width: 500px;
    height: 500px;
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.modal-body img,
.modal-body video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}