/*--- social widget ---*/

.widget .socials>li {
    margin-bottom: 10px;
    padding: 3px;
    position: relative;
}

.socials>li a {
    color: #fff;
    padding: 3px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, .4); */
}

.socials>li a i {
    color: var(--second-color);
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials>li a span {
    font-size: 13px;
}

.socials>li a ins {
    float: right;
    font-size: 12px;
    margin-top: 4px;
    text-decoration: none;
}

.socials>li a:hover {
    color: var(--second-color) !important;
    background: var(--second-bg-color);
}

.social-media {
    vertical-align: sub;
}

/*--- social icons opening hovers style ---*/
.absolute-center,
.social-menu,
.social-menu .btn .fa,
.social-menu .btn.trigger .line {
    color: #fff;
    line-height: 25px;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
}

.social-menu {
    width: 2em;
    height: 2em;
    z-index: 2;
}

.social-menu .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #111;
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    padding: 0;
    border: none;
    font-size: 13px;
    -webkit-transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.social-menu .btn .fa {
    font-size: 0.9em;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.social-menu .btn:hover .fa {
    color: #f44535;
}

.social-menu .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.social-menu .btn.trigger:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.social-menu .btn.trigger:hover .line {
    background-color: rgba(255, 255, 255, 0.7);
}

.social-menu .btn.trigger:hover .line:before,
.social-menu .btn.trigger:hover .line:after {
    background-color: rgba(255, 255, 255, 0.7);
}

.social-menu .btn.trigger .line {
    width: 60%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, height 0.3s, top 0.3s;
    transition: background-color 0.3s, height 0.3s, top 0.3s;
}

.social-menu .btn.trigger .line:before,
.social-menu .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
}

.social-menu .btn.trigger .line:before {
    top: -12px;
    -webkit-transform-origin: 15% 100%;
    -ms-transform-origin: 15% 100%;
    transform-origin: 15% 100%;
}

.social-menu .btn.trigger .line:after {
    top: 12px;
    -webkit-transform-origin: 25% 30%;
    -ms-transform-origin: 25% 30%;
    transform-origin: 25% 30%;
}

.social-menu .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.social-menu.active .btn-icon {
    opacity: 1;
    z-index: 50;
}

.social-menu.active .trigger .line {
    height: 0px;
    top: 45%;
}

.social-menu.active .trigger .line:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110%;
}

.social-menu.active .trigger .line:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 110%;
}


li.facebook {
    background: #2f5b9d;
}

li.twitter {
    background: #38bff1;
}

li.google {
    background: #f24756;
}

a:hover.facebook {
    background: #516eab;
}

a:hover.instagram {
    background: #444;
}

a:hover.twitter {
    background: #55acee;
}

a:hover.google {
    background: #dd4b39;
}

a:hover.pinterest {
    background: #ca212a;
}

a:hover.youtube {
    background: #e62117;
}

a:hover.dribble {
    background: #1572b8;
}

a:hover.linkedin {
    background: #0077b5;
}