.user_card {
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size: 17px;
	color: var(--second-color) !important;
	position: relative;
}

.user_card:hover {
	text-decoration: none;
	cursor: pointer;
}

a.underline {
	position: relative;
}

a.underline::before {
	background-color: #088dcd !important;
}

a.underline::before,
.list-style li>a::before {
	background: #545454;
	bottom: -5px;
	content: "";
	height: 1px;
	left: 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	width: 100%;
	transition: all 0.2s linear 0s;
}

a.underline:hover::before,
.list-style li>a:hover::before {
	opacity: 1;
	visibility: visible;
	bottom: 0;
}

.knowldeg-box .underline:hover::before {
	background: #fff none repeat scroll 0 0;
}